 img {
     color: blue;
     border: solid;
     border-width: 1px;
 }
 
 p {
     color: yellow;
     font-size: 14px;
 }
 
 h2 {
     color: black;
     font-size: 16px;
 }
 
 h1 {
     color: red;
     font-weight: 500;
     font-size: 20px;
     font-family: Arial;
 }